* {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Cairo', sans-serif;
    color: white;
}
i {
    cursor: pointer;
}
:root {
    --eating: #edbf47;
    --fun: #6fc191;
    --quotation: #ec774b;
    --reading: #e16c6c;
    --drawing: #74cee4;
    --checking: #c389ce;
    --radius: 4px;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
}
button {
    cursor: pointer;
}
.pic-cont {
    height: 250px;
}
.pic-cont.differ {
    height: 400px;
}
.news {
    background-color: #495052;
    position: absolute;
    padding: 2px 15px;
    top: 15px;
    right: 15px;
    border-radius: var(--radius);
}
.read-more {
    border-radius: var(--radius);
    padding: 5px 20px;
    margin: 10px 0;
    background-color: rgba(60, 60, 60, .2);
    width: max-content;
}
.parent {
    padding: 10px;
}
@media (min-width: 800px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 15px;
    }
}
.col {
    display: grid;
    row-gap: 15px;
    margin-bottom: 20px;
    grid-template-rows: repeat(2,auto);
    border-radius: var(--radius);
}
.col  h2 {
    text-transform: uppercase;
    font-weight: 400;
}
.col > div {
    border-radius: var(--radius);
}
.col .details {
    padding: 10px 20px 0 15px;
    opacity: .7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100% - 250px);
}
.col-3 .details {
    height: calc(100% - 400px);
}
.col-1 > .driving  .details {
    padding: 0px 10px;
}
.details > P {
    font-size: .8rem;
}
.col-1 > .eating {
    background-color: var(--eating);
}
.col-1 > .driving {
    background-color: var(--fun);
}
.col-2 .quotation {
    background-color: var(--quotation);
    padding: 30px;
    text-align: center;
    flex-direction: column;
}
.quotation > .quote-mark {
    width: max-content;
    margin: 10px auto;
}
.quotation > .quote-mark::after {
    content: open-quote;
    color: rgba(60, 60, 60, .2);
    font-size: 3rem;
    font-weight: bold;
    font-family: auto;
    position: absolute;
    top: -5px;
    left: -35px;
}
.col-2 > .reading {
    background-color: var(--reading);
}
.col-3 > .drawing {
    background-color: var(--drawing);
}
.col-3 > .checking {
    background-color: var(--checking);
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
@media (min-width: 800px) {
    .col-3 > .checking {
        padding: 0px;
    }
}
.checking > h2 {
    text-transform: capitalize;
    white-space: nowrap;
    line-height: 0;
    display: flex;
    align-items: center;
}
.checking i {
    display: flex;
    align-items: center;
}